.footer {
  text-align: center;
  background-color: #fff;
  padding-top: 1rem;
  box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.75);

  p {
    border-top: 1px solid rgb(204, 204, 204);
    padding: 10px;
    margin: 0;
  }
}
