@use '../abstract/mixins';

.header {
  background-color: $primary-color;
  color: #fff;

  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  .main-nav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__logo {
      display: flex;
      align-items: center;

      font-size: 3rem;
      padding: 1rem 0;

      @include mixins.respond(tab-port) {
        font-size: 2rem;
        padding: 1rem;
      }
    }
    &__menu {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      &-item {
        padding: 20px 25px;
        margin: 0;

        &-link {
          color: #fff;
          text-decoration: none;
          font-size: 1.5rem;

          &:hover {
            text-decoration: underline;
          }

          &.active {
            text-decoration: underline;
          }
        }
      }
      @include mixins.respond(tab-port) {
        display: none;
      }
    }

    &__mobile {
      display: none;

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;

        background: inherit;
        border: 1px solid #fff;
        color: #fff;
        cursor: pointer;
        font-size: 2rem;
      }

      &-menu {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0px;
        transition: all 0.2s ease-in;
        overflow-y: hidden;
        top: 53px;
        right: 0px;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        z-index: 3;

        list-style: none;

        &.active {
          width: 250px;
          height: 100vh;
          overflow-y: auto;
        }

        &-item {
          padding: 20px 25px;
          margin: 0;

          &-link {
            color: #000;
            text-decoration: none;
            font-size: 1.5rem;

            &:hover {
              text-decoration: underline;
            }

            &.active {
              text-decoration: underline;
            }
          }
        }
      }

      @include mixins.respond(tab-port) {
        display: flex;
        align-items: center;
        padding: 0 1rem;
      }
    }
  }
}
