@use '../abstract/mixins';

.App {
  background: $gray-color;

  .main-content {
    min-height: calc(100vh - 250px);
    background: $gray-color;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    display: flex;
    justify-content: center;
    margin: 5rem auto;
    max-width: 1200px;

    &__outlet {
      background: #fff;
      padding: 2rem 1rem;
      width: 100%;
    }

    @include mixins.respond(tab-land) {
      margin: 5rem 1rem;
    }
  }
}
