@use '../components/button' as btn;
@use '../components/inputField' as input;
@use '../abstract/mixins';

.factorial {
  &__form {
    margin: 1rem 0;
    display: flex;

    &-input {
      @include input.input;
    }

    &-btn {
      @include btn.button;
      margin: 0 10px;
    }

    @include mixins.respond(phone) {
      flex-direction: column;
      &-btn {
        @include btn.button;
        margin: 10px;
      }
    }
  }
}
