@use '../abstract/mixins';
@use '../components/button' as btn;
@use '../components/inputField' as input;
.github {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    margin: 1rem 0;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

    &-group {
      position: relative;

      &-input {
        @include input.input;
      }

      &-delete {
        position: absolute;
        right: 5px;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);

        cursor: pointer;
      }
    }

    &-btn {
      @include btn.button;
      margin: 0 10px;
    }

    @include mixins.respond(phone) {
      flex-direction: column;
      &-btn {
        margin: 10px;
      }
    }
  }

  .github__repos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-repo {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
      margin: 1rem;
      background: #fff;
      border: 2px solid $primary-color;
      border-radius: 5px;
      transition: all 4s ease-in;

      &-title {
        margin: 0;
        margin-bottom: 1rem;
      }
      &-desc {
        margin-bottom: 1rem;
      }

      &-commits {
        font-weight: 500;
        display: flex;
        align-items: center;

        margin-top: 1rem;

        button {
          cursor: pointer;
          background: inherit;
          border: none;
          font-weight: 500;
          padding: 0;
        }
        span {
          margin-right: 1rem;
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;

        &-autor {
          font-weight: bold;
          margin-right: 1rem;
        }
      }
    }
  }
}
