@use '../abstract/mixins';
@use '../components/button' as btn;
@use '../components/inputField' as input;
.github {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    margin: 1rem 0;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

    &-input {
      @include input.input;
    }

    &-btn {
      @include btn.button;
      margin: 0 10px;
    }

    @include mixins.respond(phone) {
      flex-direction: column;
      &-btn {
        margin: 10px;
      }
    }
  }
}
